.contacts-container {
    padding: 5% 10%;
}

.contacts-list {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    list-style: none;
}

.add-contact {
    background: blanchedalmond;
    padding-left: 6%;
    padding-bottom: 3px;
    border: 1px solid #a98888;
}

.add-contact:hover{
    background: antiquewhite;
}

.contacts-form-list {
    list-style: none;
}

.submit-contact-btn {
    padding-left: 6%;
}

.contacts-container-header{
    display: flex;
    justify-content: space-between;

}
.contacts-container-header select{
    display: flex;
}

.contacts-container-footer{
    display: flex;
    justify-content: space-between;
}

.contacts-container-footer ul{
    display: flex;
    list-style: none;
    padding-top: 3%;
}